table 
{
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

caption
{
    font-family: 'Poiret One', cursive;
    font-size: x-large;
    padding: 1%;
}
  
th, td 
{
    padding: 1em;
}

tr:nth-child(odd)
{
    background-color: #303030;
}

tr:nth-child(even)
{
    background-color: #383838;
}

.article:nth-child(odd)
{
    background-color: #303030;
}

.article:nth-child(even)
{
    background-color: #424242;
}

ul 
{
    list-style-type: none;
}

.formation > img
{
    max-height : 160px;
    max-width : 160px;
    margin: auto;
}

.formation > p
{
    font-family: 'Poiret One', cursive;
    font-size: x-large;
    line-height: 2.6em;
    margin: auto;
}

.formation
{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 15px;
    text-align: center;
}

.projet > img
{
    max-height : 200px;
    max-width : 200px;
    margin: auto;
}
